{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Student Edit Registration
{% endblock %}

{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">Edit Registrarion</h1>
      <p class="pt-5"><strong>{{ name }}</strong></p>
        {{ render_form(form) }}
    </div>
  </div>
</div>
{% endblock %}