{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Student Registration
{% endblock %}

{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Registration</h1>

      <p class="lead">This is the index page for an example Flask app using Bootstrap and WTForms</p>

      {{ render_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>
{% endblock %}