<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome {{ message }}</h1>
    <section>
      <table>
        <tr>
          <th>delete</th>
          <th>edit</th>
          <th>title</th>
          <th>author</th>
          <th>year</th>
        </tr>
        {% for book in library %}
        <th>
          <form 
          action="{{ url_for('home_controller.delete', book_id=book['id']) }}" 
          method="delete">
            <button type="submit">delete</button>
          </form>
        </th>
        <th>
          <form 
          action="{{ url_for('home_controller.edit', book_id=book['id']) }}" 
          method="get">
            <button type="submit">Edit</button>
          </form>
        </th>
        <th>{{book["title"]}}</th>
        <th>{{book["author"]}}</th>
        <th>{{book["year"]}}</th>
      </tr>
        {% endfor %}
      </table>
    </section>
  </body>
</html>